@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.revealCard1 {
    animation: revealCardAnimation 1s ease forwards;
    transition: all 1s ease;
}
.revealCard2 {
    animation: revealCardAnimation 1s ease forwards 0.5s;
    transition: all 1s ease;
}
.revealCard3 {
    animation: revealCardAnimation 1s ease forwards 1s;
    transition: all 1s ease;
}
.revealCard4 {
    animation: revealCardAnimation 1s ease forwards 1.5s;
    transition: all 1s ease;
}
.revealCard5 {
    animation: revealCardAnimation 1s ease forwards 2s;
    transition: all 1s ease;
}

.revealCard6 {
    animation: revealCardAnimation 1s ease forwards 2.5s;
    transition: all 1s ease;
}
.revealCard7 {
    animation: revealCardAnimation 1s ease forwards 3s;
    transition: all 1s ease;
}
@keyframes revealCardAnimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.pokedexBorder {
    border: 30px solid transparent !important;
    border-image: url(assets/pokedexBorder.png) 30 !important;
}

.gongratulations0 {
    transform: translateY(-250px);
    animation: pokeRain 2.6s ease-in-out forwards;
}

.gongratulations1 {
    transform: translateY(-250px);
    animation: pokeRain2 2.6s ease-in-out 0.04s forwards;
}
.gongratulations2 {
    transform: translateY(-250px);
    animation: pokeRain3 2.6s ease-in-out 0.06s forwards;
}
.gongratulations3 {
    transform: translateY(-250px);
    animation: pokeRain4 2.6s ease-in-out 0.08s forwards;
}

@keyframes pokeRain {
    from {
        transform: translateY(-250px) rotate(0deg);
    }

    to {
        display: none;
        transform: translateY(2000px) rotate(360deg);
    }
}
@keyframes pokeRain2 {
    from {
        transform: translateY(-350px) rotate(90deg);
    }

    to {
        display: none;
        transform: translateY(2000px) rotate(360deg);
    }
}

@keyframes pokeRain3 {
    from {
        transform: translateY(-150px) rotate(185deg);
    }

    to {
        display: none;
        transform: translateY(2000px) rotate(360deg);
    }
}
@keyframes pokeRain4 {
    from {
        transform: translateY(-450px) rotate(285deg);
    }

    to {
        display: none;
        transform: translateY(2000px) rotate(360deg);
    }
}
